<div *ngIf="!loading">
    <div *ngIf="movie else no_movie">
        <div class="card">
            <div class="row">
                   <img src="assets/img/{{ movie.imageUrl}}" class="img-fluid rounded-start" alt="">
                <div class="col-md-8">
                   <div class="card-body">
                       <h1 class="card-title mb-2 mt-2">{{movie.title}}</h1>
                       <p class="card-text mt-4">{{movie.description}}</p>
                   </div>
                </div>
            </div>
        </div>
       </div>
</div>

<ng-template #no_movie>
    <div class="alert alert-warning mb-2 mt-2">
    Movie not found
    </div>
</ng-template>

<div *ngIf="loading" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
</div>