<div class="container my-3">
    <div class="row">
        <div class="col-md-3">
            <app-category></app-category>
        </div>
        <div class="col-md-9">
            <div *ngIf="loading" class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

            <div *ngIf="!loading">
                <div class="alert alert-danger" *ngIf="error">
                    {{error}}
                </div>
            </div> 
            <div *ngIf="!loading">
                <div *ngIf="movies.length > 0; else no_movies" class="mt-2 mb-2">
                    <h1 class="">{{title}}</h1>
                    
                    <div class="mb-2 mt-2 alert alert-warning" *ngIf="movies.length>0">
                        {{movies.length}} movie found
                    </div>
                
                    <div class="mb-3">
                        <input [(ngModel)]="filterText" 
                        (ngModelChange)="onInputChange()"
                        type="text" 
                        class="form-control" 
                        placeholder="Search...">
                        <small class="text-muted" *ngIf="filterText">Searching : {{ filterText }}</small>
                    </div>
                    <br>
                
                    <ng-template [ngTemplateOutlet]="movieList2" [ngTemplateOutletContext]="{movies:popularMovies}" ></ng-template>
                 
                    <br><hr><br>
                    <ng-template [ngTemplateOutlet]="movieList1"></ng-template>
                    
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #movieList1>
    <div class="card mb-3 mt-4" *ngFor="let item of filteredMovies">
        <div class="row">
            <div class="col-md-4">
                <img src="/assets/img/{{item.imageUrl}}" style="height:100%" class="img-fluid" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h3 class="card-title">{{item.title}}</h3>
                    <p class="card-text">{{item.description}}</p>
                    <div>
                        <a routerLink="/movies/{{item.id}}" class="btn btn-sm btn-outline-primary">Details</a>
                        <a (click)="addToList($event,item)" class="btn btn-sm btn-primary ms-1">Add to list</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #movieList2>
    <h3 class="mb-2 mt-2">Popular Movies</h3>
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
        <div class="col" *ngFor="let item of popularMovies">
            <div class="card h-100">
                <img src="/assets/img/{{item.imageUrl}}"  class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">
                        {{item.title}}
                    </h5>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>


    <ng-template #no_movies>
        <div class="alert alert-warning mb-2 mt-2">
        Movie not found
        </div>
    </ng-template>



<!-- <app-movie *ngFor="let item of movies"></app-movie> -->
<!-- 
<ul>
    <li *ngFor="let item of movies">{{item}}</li>
</ul> -->